<?xml version="1.0"?>
<robot name="rover_bot">

    <!-- Colors -->
    <material name="grey">
        <color rgba="0.5 0.5 0.5 1" />
    </material>

    <material name="red">
        <color rgba="1 0 0 1" />
    </material>

    <!-- Base Link and Chassis -->
    <link name="base_link" />

    <link name="chassis">
        <visual>
            <origin xyz="0 0 0.07" />
            <geometry>
                <box size="0.5 0.3 0.1" />
            </geometry>
            <material name="grey" />
        </visual>
        <collision>
            <origin xyz="0 0 0.07" />
            <geometry>
                <box size="0.5 0.3 0.1" />
            </geometry>
        </collision>
        <inertial>
            <mass value="5.0" />
            <origin xyz="0 0 0.07" />
            <!-- ixx = (1/12) * mass * (y*y + z*z) -->
            <inertia ixx="0.042" ixy="0.0" ixz="0.0" iyy="0.11" iyz="0.0" izz="0.14" />
        </inertial>
    </link>

    <joint name="base_to_chassis" type="fixed">
        <parent link="base_link" />
        <child link="chassis" />
        <origin xyz=" -0.1 0 0" />
    </joint>

    <!-- Left Wheel -->
    <link name="left_wheel">
        <visual>
            <geometry>
                <cylinder radius="0.07" length="0.02" />
            </geometry>
            <material name="red" />
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.07" length="0.02" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.5" />
            <!--
            ixx = iyy = (1/12) * mass * (3 * radius*radius + len*len)
            izz = (1/12) * mass * (radius*radius) -->
            <inertia ixx="0.0006" ixy="0.0" ixz="0.0" iyy="0.0006" iyz="0.0" izz="0.0012" />
        </inertial>
    </link>

    <joint name="left_wheel_joint" type="continuous">
        <parent link="chassis" />
        <child link="left_wheel" />
        <origin xyz="0.2 0.16 0.07" rpy="-1.57 0 0" />
        <axis xyz="0 0 1" />
    </joint>

    <!-- Right Wheel -->
    <link name="right_wheel">
        <visual>
            <geometry>
                <cylinder radius="0.07" length="0.02" />
            </geometry>
            <material name="red" />
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.07" length="0.02" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.5" />
            <!--
            ixx = iyy = (1/12) * mass * (3 * radius*radius + len*len)
            izz = (1/2) * mass * (radius*radius) -->
            <inertia ixx="0.0006" ixy="0.0" ixz="0.0" iyy="0.0006" iyz="0.0" izz="0.0012" />
        </inertial>
    </link>

    <joint name="right_wheel_joint" type="continuous">
        <parent link="chassis" />
        <child link="right_wheel" />
        <origin xyz="0.2 -0.16 0.07" rpy="1.57 0 0" />
        <axis xyz="0 0 -1" />
    </joint>

    <!-- Caster Wheel -->
    <link name="caster_wheel">
        <visual>
            <geometry>
                <sphere radius="0.05" />
            </geometry>
            <material name="red" />
        </visual>
        <collision>
            <geometry>
                <sphere radius="0.05" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.2" />
            <!-- ixx = (2/5) * mass * (radius*radius) -->
            <inertia ixx="0.0002" ixy="0.0" ixz="0.0" iyy="0.0002" iyz="0.0" izz="0.0002" />
        </inertial>
    </link>

    <joint name="caster_joint" type="fixed">
        <parent link="chassis" />
        <child link="caster_wheel" />
        <origin xyz="-0.2 0 0.05" />
    </joint>

</robot>