<?xml version="1.0"?>
<robot name="rover_bot">

    <!-- Colors -->
    <material name="grey">
        <color rgba="0.5 0.5 0.5 1" />
    </material>

    <material name="red">
        <color rgba="1 0 0 1" />
    </material>

    <!-- Base and Chassis -->
    <link name="base_footprint" />

    <link name="base_link">
        <visual>
            <origin xyz="0 0 0.07" />
            <geometry>
                <box size="0.5 0.3 0.1" />
            </geometry>
            <material name="grey" />
        </visual>
        <collision>
            <origin xyz="0 0 0.07" />
            <geometry>
                <box size="0.5 0.3 0.1" />
            </geometry>
        </collision>
        <inertial>
            <mass value="5.0" />
            <origin xyz="0 0 0.07" />
            <!-- ixx = (1/12) * mass * (y*y + z*z) -->
            <inertia ixx="0.042" ixy="0.0" ixz="0.0" iyy="0.11" iyz="0.0" izz="0.14" />
        </inertial>
    </link>

    <joint name="base_to_base_link" type="fixed">
        <parent link="base_footprint" />
        <child link="base_link" />
        <origin xyz=" 0 0 0" />
    </joint>

    <!-- Left Wheel -->
    <link name="left_wheel">
        <visual>
            <geometry>
                <cylinder radius="0.07" length="0.02" />
            </geometry>
            <material name="red" />
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.07" length="0.02" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.5" />
            <!--
            ixx = iyy = (1/12) * mass * (3 * radius*radius + len*len)
            izz = (1/12) * mass * (radius*radius) -->
            <inertia ixx="0.0006" ixy="0.0" ixz="0.0" iyy="0.0006" iyz="0.0" izz="0.0012" />
        </inertial>
    </link>

    <joint name="left_wheel_joint" type="continuous">
        <parent link="base_link" />
        <child link="left_wheel" />
        <origin xyz="0.2 0.16 0.07" rpy="-1.57 0 0" />
        <axis xyz="0 0 1" />
        <dynamics damping="0.2" friction="0.1" />
    </joint>

    <gazebo reference="left_wheel">
        <mu1>1.0</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <!-- Right Wheel -->
    <link name="right_wheel">
        <visual>
            <geometry>
                <cylinder radius="0.07" length="0.02" />
            </geometry>
            <material name="red" />
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.07" length="0.02" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.5" />
            <!--
            ixx = iyy = (1/12) * mass * (3 * radius*radius + len*len)
            izz = (1/2) * mass * (radius*radius) -->
            <inertia ixx="0.0006" ixy="0.0" ixz="0.0" iyy="0.0006" iyz="0.0" izz="0.0012" />
        </inertial>
    </link>

    <joint name="right_wheel_joint" type="continuous">
        <parent link="base_link" />
        <child link="right_wheel" />
        <origin xyz="0.2 -0.16 0.07" rpy="1.57 0 0" />
        <axis xyz="0 0 -1" />
        <dynamics damping="0.2" friction="0.1" />
    </joint>

    <gazebo reference="right_wheel">
        <mu1>1.0</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <!-- Caster Wheel -->
    <link name="caster_wheel">
        <visual>
            <geometry>
                <sphere radius="0.05" />
            </geometry>
            <material name="red" />
        </visual>
        <collision>
            <geometry>
                <sphere radius="0.05" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.2" />
            <!-- ixx = (2/5) * mass * (radius*radius) -->
            <inertia ixx="0.0002" ixy="0.0" ixz="0.0" iyy="0.0002" iyz="0.0" izz="0.0002" />
        </inertial>
    </link>

    <joint name="caster_joint" type="fixed">
        <parent link="base_link" />
        <child link="caster_wheel" />
        <origin xyz="-0.2 0 0.05" />
    </joint>

    <gazebo reference="caster_wheel">
        <mu1>0.001</mu1>
        <mu2>0.001</mu2>
    </gazebo>

    <!-- Lidar Sensor -->
    <link name="lidar_link">
        <visual>
            <geometry>
                <cylinder radius="0.05" length="0.02" />
            </geometry>
            <material name="red" />
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.05" length="0.02" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.1" />
            <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001" />
        </inertial>
    </link>

    <joint name="lidar_joint" type="fixed">
        <parent link="base_link" />
        <child link="lidar_link" />
        <origin xyz="0.2 0 0.15" />
    </joint>

    <!-- LiDAR Sensor configs -->
    <gazebo reference="lidar_link">
        <sensor name="lidar_sensor" type="gpu_lidar">
            <pose>0 0 0 0 0 0</pose>
            <always_on>1</always_on>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <topic>/scan</topic>

            <gz_frame_id>lidar_link</gz_frame_id>

            <lidar>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.1</min>
                    <max>10.0</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.0</stddev>
                </noise>
            </lidar>
        </sensor>
    </gazebo>

    <!-- DiffDrive Plugin -->
    <gazebo>
        <plugin name="gz::sim::systems::DiffDrive" filename="gz-sim-diff-drive-system">
            <!-- Wheel joints -->
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>

            <!-- Robot geometry -->
            <wheel_separation>0.32</wheel_separation>
            <wheel_radius>0.07</wheel_radius>

            <!-- Velocity command topic -->
            <topic>/cmd_vel</topic>
            <!-- Odometry -->
            <odom_topic>/odom</odom_topic>
            <!-- TF -->
            <tf_topic>/tf</tf_topic>
            <!-- TF frame names -->
            <frame_id>odom</frame_id>
            <child_frame_id>base_footprint</child_frame_id>
            <!-- Enable publishing -->
            <publish_tf>true</publish_tf>
            <publish_odom>true</publish_odom>
        </plugin>
    </gazebo>

    <!-- Publish joint positions -->
    <gazebo>
        <plugin filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher">
            <topic>/joint_states</topic>
            <joint_name>left_wheel_joint</joint_name>
            <joint_name>right_wheel_joint</joint_name>
        </plugin>
    </gazebo>

</robot>