<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="wheel"
                 params="name y_pos rpy axis">

        <link name="${name}">

            <visual>
                <geometry>
                    <cylinder radius="${wheel_radius}"
                              length="${wheel_width}"/>
                </geometry>
                <material name="red"/>
            </visual>

            <collision>
                <geometry>
                    <cylinder radius="${wheel_radius}"
                              length="${wheel_width}"/>
                </geometry>
            </collision>

            <inertial>
                <mass value="${wheel_mass}"/>
                <inertia
                    ixx="0.0006"
                    ixy="0.0"
                    ixz="0.0"
                    iyy="0.0006"
                    iyz="0.0"
                    izz="0.0012"/>
            </inertial>

        </link>

        <joint name="${name}_joint" type="continuous">
            <parent link="chassis"/>
            <child link="${name}"/>
            <origin xyz="${wheel_x} ${y_pos} 0"
                    rpy="${rpy}"/>
            <axis xyz="${axis}"/>
            <dynamics damping="0.2"
                      friction="0.1"/>
        </joint>

    </xacro:macro>

    <xacro:wheel
        name="left_wheel"
        y_pos="${wheel_y}"
        rpy="-1.57 0 0"
        axis="0 0 1"/>

    <xacro:wheel
        name="right_wheel"
        y_pos="-${wheel_y}"
        rpy="1.57 0 0"
        axis="0 0 -1"/>

    <link name="caster_wheel">

        <visual>
            <geometry>
                <sphere radius="${caster_radius}"/>
            </geometry>
            <material name="red"/>
        </visual>

        <collision>
            <geometry>
                <sphere radius="${caster_radius}"/>
            </geometry>
        </collision>

        <inertial>
            <mass value="${caster_mass}"/>
            <inertia
                ixx="0.0002"
                ixy="0.0"
                ixz="0.0"
                iyy="0.0002"
                iyz="0.0"
                izz="0.0002"/>
        </inertial>

    </link>

    <joint name="caster_joint" type="fixed">
        <parent link="chassis"/>
        <child link="caster_wheel"/>
        <origin xyz="-0.2 0 -0.02"/>
    </joint>

</robot>